[MASTER]
disable=
    too-many-arguments,
    too-many-positional-arguments,
    unused-argument,
    too-few-public-methods,
    broad-except,
    missing-timeout

[MESSAGES CONTROL]
max-line-length=120
max-attributes=30
max-statements=40
